In [1]:
import pandas as pd

# Load the Parquet file into a DataFrame
df = pd.read_parquet('../output_files/trip_analysis_output/avg_duration_distance_by_day/part-00000-cc5c52d9-4a1b-40cf-a28a-45753202a48e-c000.snappy.parquet')

# Get the column names
column_names = df.columns.tolist()

# Print or use the column names as needed
print(column_names)

df.head(5)

['day_of_week', 'avg_duration', 'avg_distance']

   day_of_week  avg_duration  avg_distance
0            1    974.713487      6.887432
1            6   1035.719739      7.143910
2            3    977.842983      7.222617
3            4    996.282653      6.525891
4            5   1040.957442      6.803646